<html>
<head>
  <title>About Us</title>
</head>
<body>
  <div style="background-color:gray">
    <center><h1 style="color:white">About Us</h1></center>
  </div>
  <%= link_to 'Home', root_path %>
</body>
</html>
