<html>
<head>
  <title>Home</title>
</head>
<body>
  <div style="background-color:gray">
    <center><h1 style="color:white">This is Home</h1></center>
  </div>
  <%= link_to 'About Us', pages_about_path %>
</body>
</html>
